body {
  background-color: #ebfff0;
}

.largeLaugh {
  width: 140px !important;
  height: 120px !important;
}

.dropdownLink {
  color: black !important;
}

.collectionJokeCard {
  background-color: #58b957 !important;
  width: 100% !important;
}

.collectionJokeDescription {
  color: white !important;
  font-size: 18px;
}

.column {
  margin-bottom: 20px !important;
}

.jokeCard {
  width: 100% !important;
}

.extraContent {
  text-align: center !important;
}

.groupDetails {
  background-color: #ebfff0 !important;
  box-shadow: none !important;
}
